<footer>
    <img src="SUBMERGED_Logo_Stacked_RGB_FullColor.png">
    <div>
        <div>Elaborado por la Sección 0801 de Portales Web 2</div>
        <div>UNICAH Sagrado Corazón de Jesús</div>
        <div>&copy;Derechos Reservados 2025</div>
    </div>
    <nav>
        <ul>
            {{#each navigation}}
            <li><a href="{{url}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
</footer>