<header>
    <div>
        <img src="https://picsum.photos/id/189/64/64" alt="Logo" />
        <h1>First Lego League</h1>
    </div>
    <nav>
        <ul>
            {{#each navigation}}
                <li><a href="{{url}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>